@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

:root {
  --darker-bg-color: rgb(20, 20, 20);
  --light-text-color: rgb(228, 228, 228);
  --red: rgba(245, 98, 98, 0.849);
  --btn-active-color: rgb(54, 115, 255);
  --light-blue: #388bf9;
  --blue: rgb(11, 102, 177);
  --darker-blue: #1a73e8;
  --green: #32cd32;
  --dark-gray: #2d2d2d;
  --light-gray: #b9b9b9;
  --gray: rgba(81, 81, 81, 1);
  --header-bg-color: #121314;
  --error-color: #f4aea9;
  --main-font-family: "Cairo", serif;
}
