footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--lighter-border-color);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  flex-grow: 0;
}

.sentence {
  margin: 0;
  padding: 0;
}

.icon {
  margin: 0;
  padding: 0;
  margin-left: 2rem;
}