@import "../../sass/shared";

.container {
  padding: 0 2rem 2rem 2rem;
}

.avg {
  font-size: 1.5rem;
}

.percentages {
  margin-top: 2rem;
  font-size: 1rem;
}

.percentage {
  font-size: 1.5rem;
}

.chart {
  width: 90%;
  height: 90%;
}