@import '../../sass/shared';

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50rem;
  min-width: 30rem;
}

.item {
  width: 100%;
}

.btn {
  margin-top: 2rem !important;
  max-width: 10rem;
  display: inline-block;
  align-self: center;
}